.product-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    font-size: 14px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}



.product-info p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;

}